<h1>Your order summary </h1>
{{>addons noDeleteBtn = true}}   {{!--Bardzo wazne, za pomoca tego zapisu do partiaali mozesz przekazywac dodatkowe informacje--}}
<button> <a href="/order/thanks" class="btn btn-big"> Order Now  !</a></button>
{{>cookie-preview}}
{{>go-home}}